entrypoint = "app.py"
modules = ["python-3.11", "postgresql-16"]

[nix]
channel = "stable-24_05"
packages = ["fontconfig", "freetype", "ghostscript", "glib", "glibcLocales", "harfbuzz", "openssl", "pango"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["sh", "-c", "bash auto_push.sh && python3 app.py"]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "pip install -r requirements.txt"]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081
